{% extends 'base.html' %}

{% block content %}
    <h1 class="my-5">Choose App:</h1>
    <div class="text-center row">
        <div class="col-6">
            <div class="alert alert-danger">
                <a href="polls" class="alert-link">Polls</a>
            </div>
        </div>
        <div class="col-6">
            <div class="alert alert-primary">
                <a href="products" class="btn-link font-weight-bold">Products</a>
            </div>
        </div>
    </div>
{% endblock %}
